.card {
  width: 100%;
  max-width:25em;
  border: 0.5em solid #ccc;
  border-radius: 1em;
  font-size: 0.7rem;  
  cursor: pointer;
  transition: .25s ease;
}
 .card:hover {
  transform: scale(1.1);
} 
.card__header {
  background-color: blueviolet;
  width: 100%;
  aspect-ratio: 2;
  position: relative;
  border-radius: 0.4em;
}
.card__img {
  position: absolute;
  width: 55%;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  
}
.card__principal {
  margin-top: 3.5em;
}
.card__name {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0.2em;
}
.card__types {
  --gap-type: 0.7em;
  display: flex;
  justify-content: center;
  gap: var(--gap-type);
}
.card__type:not(:nth-child(1))::before {
  content: '/';
  padding-right: var(--gap-type);
}
.card__hr {
  --margin--y: 0.8em;
  margin-top: var(--margin--y);
  margin-bottom: var(--margin--y);
  border: 1px solid #ccc5;
  margin-inline: 2em;
}
.card__stats {
  padding: 1em 1em 2em;
}
.card__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5em;
}
.card__stat {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  align-items: center;
}
.card__stat__label {
  font-size: 0.7em;
  text-transform: uppercase;
}
.card__stat__value {
  font-size: 1.4em;
  font-weight: 400;
}

/* bg */
.bg-normal {
  background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);;
}
.bg-fighting {
  background-color: #735259;
}
.bg-poison {
  background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}
.bg-ground {
  background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}
.bg-bug {
  background: linear-gradient(178.92deg, #437473 0.92%, #1f9562 47.96%, #CAE099 99.08%);
}
.bg-ghost{
  background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}
.bg-steel {
  background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
.bg-electric {
  background: linear-gradient(176.37deg, #89ab3a -32.26%, rgb(216, 226, 30) 22.55%, #E8AE1B 125.72%);
}
.bg-psychic {
  background: linear-gradient(178.92deg, #5e0558 0.92%, #de90cb 47.96%, #d07caf 99.08%);
}
.bg-ice {
  background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}
.bg-dragon {
  background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}
.bg-dark {
  background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}
.bg-fairy {
  background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}
.bg-grass {
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%) ;
}
.bg-fire {
  background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}
.bg-water{
  background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}
.bg-rock {
  background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

/* color */
.color-normal {
  color: #735259;
}
.color-fighting {
  color: #96402A;;
}
.color-poison {
  color:  #5B3184;;
}
.color-ground {
  color: #654008;;
}
.color-bug {
  color: rgb(4, 184, 4);
}
.color-ghost {
  color: #323569;
}
.color-steel {
  color:#5E736C;
}
.color-electric {
  color: #d8d223;
}
.color-psychic {
  color: #440432;
}
.color-ice {
  color: #6FBEDF; ;
}
.color-dragon {
  color: #478A93;
}
.color-dark {
  color:#030706;;
}
.color-fairy {
  color:#971B45;
}
.color-water{
  color: rgb(30, 12, 170);
}
.color-fire {
  color: rgb(217, 93, 16);
}
.color-grass {
  color: rgb(0, 128, 0);
}
.color-rock {
  color: rgb(126, 126, 126);
}


/* border */
.border-normal {
  border-color: #735259;
}
.border-fighting {
  border-color: #96402A;
}
.border-poison {
  border-color:#5B3184;;
}
.border-ground {
  border-color:#654008;;
}
.border-bug {
  border-color: rgb(4, 184, 4);
}
.border-ghost {
  border-color: #323569;
}
.border-steel {
  border-color:#5E736C;
}
.border-electric {
  border-color: #d8d223;
}
.border-psychic {
  border-color: #440432;
}
.border-ice {
  border-color: #6FBEDF;;
}
.border-dragon {
  border-color:#478A93;
}
.border-dark {
  border-color:#030706;
}
.border-fairy {
  border-color: #971B45;
}
.border-grass {
  border-color: rgb(0, 128, 0);
}
.border-fire {
  border-color: rgb(217, 93, 16);
}
.border-water {
  border-color: rgb(30, 12, 170);
}
.border-rock {
  border-color: rgb(126, 126, 126);;
}

