@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
body {
  background-color: rgb(250, 250, 250);
  font-family: "Tilt Neon", sans-serif;

}
.listpoke-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  padding-bottom: .7em;
}

.gap-page {
  gap: 0.5em;
}

.gap-page li {
  cursor: pointer;
  padding: 0.5em;
  color: white;
  background-color: red;
  &:hover {
    filter: brightness(2);
  }
}
.gap-page .active-page {
  background-color: rgb(148, 20, 20);
}